build
src/ontology/pato.json
src/ontology/pato.obo
src/ontology/pato.owl
src/ontology/pato_ext.owl
pato_ext.json
.DS_Store
src/ontology/simple_seed.txt.tmp
.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/pato.owl
src/ontology/pato.obo
src/ontology/pato.json
src/ontology/pato-base.*
src/ontology/pato-basic.*
src/ontology/pato-full.*
src/ontology/pato-simple.*
src/ontology/pato-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/pato-edit-donotedit.owl
src/ontology/pato_ext-no-imports.owl
